.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(/patternpad2.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-main {
    width: 50rem;
    height: 25rem;
    background: rgba(180, 45, 45, 0);
    display: flex;
    animation:cmainAni 1 1s linear;
    /* border: 5px rgba(255, 255, 255, 0.541) solid; */
    border-radius: 1rem;
overflow: hidden;
}

@keyframes cmainAni {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }

}

.cm-right {
    background: #3F3D56;
    width: 100%;
    flex-shrink: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cm-right ul {
    list-style-type: none;
}

.cm-right ul li {
    margin: 1rem 0;
}

.cm-left {
    background: #6C63FF;
    width: 100%;
}

.cm-left h1 {
    padding: 1rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

input,
textarea {
    display: block;
    padding: .3rem;
    margin: .5rem;
    border-radius: .5rem;
    border: none;
}

label {
    color: white;
    font-size: 1.4rem;
}