.secondary {
    width: 100vw;
    height: 100vh;
    background: #000;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.secondary h1 {
    color: white;
    padding: 2rem;
    letter-spacing: .5rem;
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
}

@keyframes h1Ani {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;        ;
        background-position-x: 100px 100px;

    }
}

.secondary h1 span {
    animation: h1Ani 4s infinite;
    display: block;
    background: white;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

}

.secondary h1 span:nth-child(1) {
    animation-delay: 1s;
}

.secondary h1 span:nth-child(2) {
    animation-delay: 2s;
}

.secondary h1 span:nth-child(3) {
    animation-delay: 3s;
}

.secondary h1 span:nth-child(4) {
    animation-delay: 4s;
}

.secondary h1 span:nth-child(5) {
    animation-delay: 5s;
}

.secondary h1 span:nth-child(6) {
    animation-delay: 6s;
}